body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

.carousel {
    position: relative;
}

.carousel img {
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(176, 206, 208, 0.8); /* Gris Claro */
}

.logo {
    width: 100px; /* Tamaño del logo */
    height: auto;
    margin-top: 20px; /* Espacio sobre el logo */
}

h1 {
    font-size: 36px;
    color: #002A4D; /* Azul */
}

p {
    color: #002A4D;
}

.text-container {
    text-align: justify;
    padding: 0 15px; /* Espacio en los lados para dispositivos móviles */
}

@media (min-width: 768px) {
    .text-container {
        text-align: justify;
        padding: 0 25px;
        margin-right: 400px;
        margin-left: 400px;
    }
.icono-esquina {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #04B299;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #04B299;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
}